body 
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fdfafa;
    color:#0f2c58
}



header
{
    display:flex;
    justify-content: space-around;
    align-items: center;

}

.logo
{
 width: 60px;  
 height: 60px;
}

ul
{
    list-style: none;
    
}

li
{
    display:inline;
}

a:link {
    color:#0f2c58;
    text-decoration: none;
  }

a:visited {
    color:#0f2c58;
  }

a:hover {
    color:#0c1a2e;
    font-weight: bolder;
  }

  button
  {
    background-color: #db6559;
    border: none;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    color: white;
    border-radius: 10px;
  }

  button:hover 
  {
    background-color: #fcf5f5;
    color: #db6559;
  }

  #maintitle
  {
    font-size: 300%;
    padding-top: 240px;
  }

#home
{    
    padding: 30px 30px;
    display: flex;
}

.centertxt
{
 text-align: center;
}

.sectiontitle
{
    margin: 120px 120px;
    border-color: #db6559;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
}

#amcontainer
{
    display: flex;
    padding: 60px 60px;
    justify-content: flex-start;
    
}

#amcontainer2
{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding-bottom: 120px;
    
}

#computerphoto
{
    width: 300px;
    
}

.descriptivep
{
    padding-right: 30px;
   
}

#wprocesssection
{
    background-image: url(images/workingprocessbackground.jpg);
    background-size: cover;
    padding: 240px 240px;
    color: #fdfafa;
    
    margin-bottom: 120px;
    width:fit-content;
}

#aboutme
{
    background-color: white;
    padding-top: 60px;
}

#portfolio
{
    background-color: #fcf5f5;
    padding: 60px 60px;
}

#portfoliosites
{
    display:flex;
    justify-content:center ;
    align-items: flex-start;
    flex-wrap: wrap;
}

.portfoliophotos
{
    width: 400px;
}

input[type=submit]
  {
    background-color: #db6559;
    border: none;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    color: white;
    border-radius: 10px;
    margin-top: 30px;
  }

  input[type=submit]:hover 
  {
    background-color: #fcf5f5;
    color: #db6559;
  }

  #emailbox
  {
    padding-bottom: 60px;
  }

  #formbloc{
    display:flex;
    justify-content: center;
    padding-bottom: 120px;
  }

  footer
  {
    background-color: #0f2c58;
    color: rgb(228, 221, 221);
    padding: 60px 60px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    font-size: small;
      
  }

  footer a:link 
  {
    color:white;
    font-weight: bold;
  }

  footer a:visited 
  {
    color:white;
  }
  
  #heroparagraph
  {
    padding-bottom: 30px;
  }